@charset "UTF-8";

body {
  width: 800px;
  margin: 0 auto;  
  padding: 0 10px;
}
header {
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
}
main .form_area { margin-bottom: 20px }
main .form_area span {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  margin-bottom: 20px;
}
main .message_area {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 20px 0;
  margin-bottom: 20px;
}
main .message_area > div { margin-bottom: 20px; }
main .message_area > div h1 {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}
footer { margin-bottom: 20px; }